services:
  - type: web
    name: tunisian-traffic-prediction
    env: python
    plan: free
    runtime: python-3.10.13
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app
